<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" strict="true">
    <Properties>
        <Property name="logPatternConsole">
            %d{HH:mm:ss.SSS} %-5level %logger{5} - %thread - %msg%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="${logPatternConsole}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="${sys:log.level:-DEBUG}" additivity="false">
            <AppenderRef ref="Console"/>
        </Root>
        <!-- Исключаем логирование -->
        <Logger name="org.apache.hc" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.hibernate.validator" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>